@media (min-width: 320px) and (max-width: 767px) {
    .container {
        width:  280px

    }
}
@media (min-width: 768px) and (max-width: 1279px) {
    .container{
        width: 700px
    }
}
.container {
    width: 1200px;
}
