.card {
    width: 250px;
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.card-title {
    align-content: center;
    font-style: italic;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

